<div class="container">


    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
{#        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">#}
{#            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">#}
{#                <use xlink:href="#bootstrap"></use>#}
{#            </svg>#}
{#        </a>#}

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-dark">Главная</a></li>
            <li><a href="{% url "catalog:get_categories" %}" class="nav-link px-2 link-dark">Категории</a></li>
            <li><a href="{% url "catalog:get_product" %}" class="nav-link px-2 link-dark">Товары</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">О нас</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Login" data-translation="Войти" data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">Войти
                </ya-tr-span>
            </button>
            <button type="button" class="btn btn-primary">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Sign-up" data-translation="Зарегистрироваться" data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">Зарегистрироваться
                </ya-tr-span>
            </button>
        </div>
    </header>
</div>