{% extends 'base.html' %}

{% block title %}
    Добавление товара
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Добавить товар</h2>

        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="{% url 'catalog:products_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock %}